* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gilroy Semi-Bold", sans-serif;
  color: #000;
}
@font-face {
  font-family: "Gilroy";
  src: url("../assets/Fonts/Gilroy-Light.otf");
}

@font-face {
  font-family: "Gilroy Dark";
  src: url("../assets/Fonts/Gilroy-ExtraBold.otf");
}

body {
  min-height: 100vh;
  width: 100%;
  background: #bba6a6;
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.container {
  width: 800px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.partA,
.partB {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ceb4b4;
  box-shadow: 14px 10px 25px rgba(0, 0, 0, 0.25);
  font-family: "Gilroy";
  height: auto;
  margin: 40px;
  padding: 20px;
}

form > * {
  margin: 10px 0;
  
}
form > *:first-child {
  margin-top: 10px;
}

form > *:last-child {
  margin-bottom: 10px;
}

form > input {
  padding: 15px;
  margin: 10px;
  border: 4px solid #000000;
  box-sizing: border-box;
  border-radius: 50px;
  background-color: #ceb4b4;
}

form > input:focus {
  outline: none;
}

form > button {
  transition: all 0.5s ease;
  cursor: pointer;
  padding: 13px;
  margin: 10px;
  box-sizing: border-box;
  background: #1e1e1e;
  text-align: center;
  border-radius: 50px;
  font-family: "Gilroy Dark";
  font-weight: 800px;
  font-size: 15px;
  border: none;
}

form > button:hover {
  transform: scale(1.1);
}

form > button:active {
  transform: scale(1);
}

.signup, .signin
{
  display:flex;
  margin-left: 60px;
  color: white;
}

.partC {
  display:inline;
  margin-left: 90px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  text-align: center;
  color: #ffffff;
}

.heading {
  padding: 0px;
  font-size: 35px;
  font-family: "Gilroy Dark";
}

.dot {
  color: #fdd66d;
  font-size: 50px;
  font-family: ui-sans-serif;
}
.dot1 {
  font-family: "Gilroy Dark";
  color: #fdd66d;
}
.up,
.in {
  color: #fdcdc1;
  font-family: "Gilroy Dark";
}

.description1 {
  padding: 0px;
  margin: 0px;
  font-family: "Gilroy";
}
.description2 {
  padding: 0px;
  margin: 0px;
  font-family: "Gilroy";
}

.illustration {
  height: 280px;
}

@media screen and (max-width: 1000px) {
  .partC {
    display: none;
  }
  
}
