* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gilroy", sans-serif;
  color: #1e1e1e;
}
@font-face {
  font-family: "Gilroy";
  src: url("../assets/Fonts/Gilroy-Light.otf");
}

@font-face {
  font-family: "Gilroy Dark";
  src: url("../assets/Fonts/Gilroy-ExtraBold.otf");
}


body {
  min-height: 100vh;
  width: 100%;
  background-image: url(../assets/Images/dashboardbg.png);
  background-size: 100%;
  overflow: hidden;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  padding-top: 60px;
  min-height: 100vh;
  width: 100%;
  overflow: scroll;
}
.card-container {
  height: 90vh;
  width: 80%;
  padding: 0 80px;
  display: flex;
  align-items: flex-start;
  gap: 40px;
  flex-wrap: wrap;
  padding-top: 20px;
}

.card {
  width: 250px;
  min-height: 250px;
  padding: 10px;
  background: #bea68e;
  border: 5px solid #083230;
  box-sizing: border-box;
  border-radius: 25px;
}

.card-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-heading {
  font-weight: bold;
  font-size: 20px;
}

.edit-note {
  height: 28px;
  cursor: pointer;
}

.edit-note > img {
  height: 100%;
  width: 100%;
}

.card-content {
  font-size: 14px;
  margin-top: 10px;

  width: 100%;
  min-height: 180px;

  padding: 10px;
  border-radius: 15px;
  word-break: break-word;
}

#clock {
  font-family: Gilroy Dark;
  font-style: normal;
  font-weight: 800;
  font-size: 60px;

  text-align: center;
  margin-bottom: 30px;
  color: #bea68e;

  text-shadow: 5px 5px 2px rgba(0, 0, 0, 0.5);
}

.additional
{
  margin-top: 20px;
  position: fixed;
  right: 0;
  margin-right: 150px;
  /* z-index: 1; */
}

.controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.options {
  width: 200px;
  height: 45px;
  padding: 4px;

  background: #295d38;
  border-radius: 50px;
  cursor: pointer;
  margin-bottom: 15px;
  font-family: Gilroy Dark;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;

  text-align: center;
  color: #c7d9a7;
}

.dot {
  font-family: Gilroy Dark;
  font-style: normal;
  font-weight: 800;
  font-size: 26px;
  color: #fdd66d;
}
.link {
  color: #1e1e1e;
  text-decoration-line: none;
  font-family: Gilroy Dark;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  color: #c7d9a7;
}

.link:hover {
  color: white;
}

@media screen and (max-width: 900px) 
{
  .additional
  {
    top: 0;
    display: flex;
    flex-direction: row;
  }

#clock
{
  width: 300px;
  height: 100px;
}

  .options {
  
    width: 130px;
  }

}