* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gilroy", sans-serif;
  color: white;
}
@font-face {
  font-family: "Gilroy";
  src: url("Gilroy-Light.otf");
}

@font-face {
  font-family: "Gilroy Dark";
  src: url("Gilroy-ExtraBold.otf");
}

body {
  min-height: 100vh;
  width: 100%;
  background-image: url(Frame4.svg);
  background-repeat: no-repeat;
  overflow: hidden;
  
  display: flex;
  justify-content: center;
  justify-content: space-between;
  align-items: center;
  padding: 60px;
}


.title {
  font-family: Gilroy Dark;
  font-style: normal;
  font-weight: 800;
  font-size: 80px;
  line-height: 123px;
  text-align: center;

  color: #083230;
}

.description {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
  line-height: 40px;
  text-align: center;

  color: #083230;
}

.create-notes-container {
  width: 300px;
  height: 350px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: #c4c4c4;
  border: 5px solid #083230;
  box-sizing: border-box;
  border-radius: 25px;
}

.heading {
  font-weight: bold;
  font-size: 30px;
}

.create-note-input {
  background: transparent;
  border-radius: 15px;
  border: 1px solid black;
  height: 60%;
  width: 90%;
  border-radius: 15px;
  color: black;
  padding: 10px;
}
.create-note-heading {
  background: transparent;
  border-radius: 15px;
  border: 1px solid black;

  height: 10%;
  width: 90%;
  border-radius: 15px;
  color: black;
  padding: 10px;
  text-align: center;
}

.create-note-input:focus,
.create-note-heading:focus {
  outline: none;
}

.create-note-button {
  margin-left: 15px;
  cursor: pointer;
  padding: 1px;
  font-family: Gilroy Dark;
  font-style: normal;
  font-weight: 800;
  font-size: 40px;

  text-align: center;

  color: #000000;
}
